.hero {
    text-align: center;

    background-color: rgb(51, 116, 255);

    /* color: white; */
}
body{
    text-align: center;

}

table {
    width: 800px;


}
#body {
    width: 100px;
}
#top-ten{
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

#searches{
    margin: 20px;
}
.notification.is-primary {
    background-color: rgb(85, 136, 246);
    color: #fff;
}

.columns.is-centered {
    justify-content: center;
}

#results-page {
    padding: 20px;
}

#search-box{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
}