.hero {
    background-color: rgb(38, 98, 226);
    text-align: center;
    /* color: white; */
}
body{
    text-align: center;

}

table {
    width: 800px;


}
#body {
    width: 100px;
}
#top-ten{
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}